.section {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
}

.description {
  color: wheat;
}

.modifiers {
  opacity: 0.6;
}

.form {

}

.form label {
  color: wheat;
}

.form textarea {
  color: white;
  text-align: center;
}